body
{
 font-family: 'Playfair Display', serif;
 background-color: white;
}

.container{
/*	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;*/
}

.blog_logo {
	position: absolute;
	bottom: 25%;
	left: 55%;
}

.shop_logo {
	position: absolute;
	bottom: 25%;
	left: 69%;
}

.contact_logo {
	position: absolute;
	bottom: 25%;
	left: 84%;
}

/*.footer{
	position: absolute;
	background-color: #ffe6ff; 
	bottom: 4.7%;

}
